.infor-contact {
    width: 100%;
    height: 40vh;
    background-color: $color-secundario;

    h2 {
        font-family: $Fuente1;
        color: $color-claro;
        padding: 35px;
    }

    .container-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: first baseline;

        @include movil {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .items-1 {
            display: grid;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 35px;
            cursor: pointer;

            @include movil {
                grid-row: 1;
            }

            .correo {
                font-family: $Fuente2;
                color: $color-claro;
                font-weight: bold;
            }

            p {
                font-family: $Fuente2;
                color: $color-claro;
            }
        }

        .items-2 {
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;

            @include movil {
                grid-row: 2;
            }

            h5 {
                font-family: $Fuente2;
                color: $color-claro;
                font-weight: bold;
            }

            .items-img {
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
    }
}