.infor-contact {
    width: 100%;
    height: auto;
    background-color: $color-secundario;

    .container-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

        @include movil {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            justify-items: unset;
        }

        .items-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            cursor: pointer;

            @include movil {
                grid-column: 1;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 10px;
            }

            p {
                font-family: $Fuente2;
                color: $color-claro;
            }
        }

        .items-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;

            @include movil {
                grid-column: 2;
            }

            h5 {
                font-family: $Fuente2;
                color: $color-claro;
                font-weight: bold;
            }

            .items-img {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
    }
}