.container {
    position: relative;

    img {
        width: 100%;
        height: auto;

        @include movil {
            height: 275px;
            object-fit: cover;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-5%, 0%);
        text-align: center;
        color: white;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;

        @include tablet {
            top: 100px;
            left: 130px;
            transform: translate(-5%, 11%);
        }

        @include movil {
            top: 40px;
            left: 35px;
        }

        p {
            margin: 0;
            font-family: $Fuente2;
            text-align: right;
            padding-right: 25PX;

            @include tablet {
                font-size: 16px;
                padding-right: 18px;
            }

            @include movil {
                font-size: 15px;
                padding-right: 18px;
            }
        }

        h2 {
            margin: 0;
            font-family: $Fuente1;
            font-size: larger;
            text-align: justify;
            color: $color-secundario;
            padding: 15px;

            @include tablet {
                font-size: 18px;
                padding: 15px;
            }

            @include movil {
                font-size: 13px;
                padding: 15px;
            }
        }
    }
}