$Fuente1: 'Roboto ', sans-serif;
$Fuente2: 'Lato', sans-serif;
$color-primario: #000000;
$color-secundario: #eaeaea;
$color-fuente1: #ffffff;
$color-claro: #4b4b4b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin desktop {
  @media (min-width: 780px) and (max-width: 990px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 650px) and (max-width: 780px) {
    @content;
  }
}

@mixin movil {
  @media (min-width: 450px) and (max-width: 650px) {
    @content;
  }
}