$Fuente1: 'Roboto ', sans-serif;
$Fuente2: 'Lato', sans-serif;
$color-primario: #000000;
$color-secundario: #eaeaea;
$color-fuente1: #ffffff;
$color-claro: #1f2124;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin desktop {
  @media (min-width: 830px) and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 630px) and (max-width: 830px) {
    @content;
  }
}

@mixin movil {
  @media (min-width: 350px) and (max-width: 630px) {
    @content;
  }
}