$Fuente1: 'Roboto ', sans-serif;
$Fuente2: 'Lato', sans-serif;
$color-primario: #000000;
$color-secundario: #eaeaea;
$color-fuente1: #ffffff;
$color-claro: #4b4b4b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin tablet {
  @media (min-width: 650px) and (max-width: 950px) and (orientation: landscape) {
    @content;
  }
}

@mixin movil {
  @media (min-width: 350px) and (max-width: 650px) {
    @content;
  }
}

// @mixin tablet
// @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) and (orientation: landscape) {
//   @content;
// }

// // Estilos para la tabla en orientación vertical (portrait)
// @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) and (orientation: portrait) {
//   table {
//     /* Estilos para la tabla en orientación vertical aquí */
//     font-size: 12px;
//     /* Otros estilos... */
//   }
// }