.container {
    width: 100%;
    height: auto;
    background-color: $color-secundario;

    @include tablet {
        padding-top: 0;
        margin-bottom: 0;
    }

    h2 {
        color: $color-claro;
        font-family: $Fuente1;
        padding-left: 35px;
    }

    .items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 35px 0 0 80px;
        padding-bottom: 10px;

        @include movil {
            margin-left: 35px;
        }
    }


    .maquetacion {
        display: grid;
        margin-bottom: 50px;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        li {
            font-family: $Fuente2;
            color: $color-claro;
            margin-left: 15px;
        }
    }

    .css {
        display: grid;
        margin-bottom: 58px;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        li {
            font-family: $Fuente2;
            color: $color-claro;
            margin-left: 15px;
        }
    }

    .javascrip {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 10px;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        li {
            font-family: $Fuente2;
            color: $color-claro;
            margin-top: 10px;
            margin-left: 15px;
        }
    }

    .vue-js {
        display: grid;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 20px;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        li {
            font-family: $Fuente2;
            color: $color-claro;
            margin-left: 15px;
        }
    }
}