.container {
    width: 100%;
    height: 100vh;
    background-color: $color-secundario;

    h2 {
        color: $color-claro;
        font-family: $Fuente1;
        padding-left: 35px;
    }

    .items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 35px;
        margin-left: 80px;
    }


    .maquetacion {
        display: grid;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        p {
            font-family: $Fuente2;
            color: $color-claro;
        }
    }

    .css {
        display: grid;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        p {
            font-family: $Fuente2;
            color: $color-claro;
        }
    }

    .javascrip {
        display: grid;
        grid-column: 1;
        grid-row: 2;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        p {
            font-family: $Fuente2;
            color: $color-claro;
            margin-top: 10px;
        }
    }

    .vue-js {
        display: grid;
        grid-column: 2;
        grid-row: 2;

        h5 {
            font-family: $Fuente2;
            color: $color-claro;
            font-size: medium;
        }

        p {
            font-family: $Fuente2;
            color: $color-claro;
        }
    }

    @media (min-width: 710px) {
        .container {
            width: 100%;
            height: 4vh;
        }
    }

    @media (min-width: 560px) {
        .container {
            width: 100%;
            height: 45vh;
        }
    }

    @media (min-width: 450px) {
        .container {
            width: 100%;
            height: 55vh;
        }
    }
}