.container-soft {
    width: 100%;
    height: auto;
    background-color: $color-secundario;
    padding-bottom: 20px;

    h2 {
        color: $color-claro;
        font-family: $Fuente1;
        padding: 35px;

        @include movil {
            font-size: 18px;
        }
    }

    div {
        margin-top: 0px;
        display: grid;
        justify-content: flex-start;
        margin-left: 90px;

        @include tablet {
            margin-right: 125px;
        }
        @include movil {
            margin-left: 50px;
        }
        li {
            margin-bottom: 10px;
            font-family: $Fuente2;
            color: $color-claro;

            @include movil {
                font-size: 15px;
            }
        }
    }
}