.container-soft {
    width: 100%;
    height: auto;
    background-color: $color-secundario;

    h2 {
        color: $color-claro;
        font-family: $Fuente1;
        padding: 35px;
    }

    div {
        margin-top: 40px;
        display: grid;
        justify-content: right;
        margin-right: 95px;

        p {
            margin-bottom: 10px;
            font-family: $Fuente2;
            color: $color-claro;
        }
    }

    @media (min-width: 710px) {
        .content {
            position: absolute;
            top: 20%;
            left: 40%;
        }
    }

    @media (min-width: 560px) {
        .content {
            position: absolute;
            top: 30%;
            left: 30%;
        }
    }

    @media (min-width: 450px) {
        .content {
            position: absolute;
            top: 10%;
            left: 10%;
        }
    }
}