.container-soft {
    width: 100%;
    height: auto;
    background-color: $color-secundario;

    h2 {
        color: $color-claro;
        font-family: $Fuente1;
        padding: 35px;
    }

    div {
        margin-top: 0px;
        display: grid;
        justify-content: flex-start;
        margin-left: 90px;

        @include tablet {
            margin-right: 125px;
        }

        p {
            margin-bottom: 10px;
            font-family: $Fuente2;
            color: $color-claro;
        }
    }
}